@import url(https://fonts.google.com/);


*{
    
    --primary: #fb4d62;
	--secondary: orange;
	--font-size1: 24px;
		scroll-behavior: smooth;
	scrollbar-color: var(--primary);
	scrollbar-highlight-color: aqua;
}
body{
    box-sizing:border-box;
    font-family: Raleway, sans-serif;
    padding:opx 100px;
    margin: opx;
}
button{
    background-color: var(--primary);
    color:white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all is ease;

}
button:hover{
     background-color: var(--secondary);
     color: black;
}

p{
    font-size:var(--font-size1);
    text-align: justify;
}
/* header css starts here*/
header{
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-between ;
    padding:0px 100px;

}
header ul{
    display: flex;
    gap: 10px; 

}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:red ;
    font-size: 24px;
}
a:hover{
    padding: 100px 100px;
}
section{
    padding: 100px 100px;
}


#banner{
    display: flex;
    gap: 30px;
    max-width: 1400px;
}
.slides{
    display: flex;
    gap: 30px;
    flex-basis: 140px;
    flex-shrink: 0;
    flex-grow: 0;
    text-overflow: hidden;
}
@keyframes basic{
    100%{
     
         background-color: rgb(243, 239, 25);
         transform: translateX(-100px);
     
    }
}

#banner p{
    line-height: 1.5;
}
.buttons{
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.buttons:nth-child(2){
     background-color: aqua;
}

header img{
    mix-blend-mode: ;
}


@media(max-width:768px){
    header{
    flex-direction: coloum;


}
#about{
    text-align: center;
}
}
#about h2{
    font-size: 46px;
    margin-top:0px ;
    padding: 0px;
    text-shadow: 3px 5px var(--primary);
}
/*projects starts*/
#projects{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px; 
    font-size:46px ;
    margin-top:0px ;
    padding:0px ;
    text-shadow:3px 5px var(--primary) ;
}

.card{
    box-shadow: 5px 5px black;
    padding: 20px;
    border-radius: 20px;
    transition: all is ease;
}
.card:hover{
    box-shadow: 5px 5px;
}