body{
    color: rgba(164, 99, 99, 0.881);
    background-color: linear-gradien(toright red 5%,blue 3% ,green 4%);
   /* background:radical-gradient(green, orange,green orange green orange)  */
   height:100vh;
} 
p,h1,h2,h3,h4,h5,h6 
  { 
    font-family:'courier New',
    courier , monospace;
    font-size: 10px;
    font-weight: 800;
    font-style: italic;
    

}