body{
    /*background-image: url(IN-en-20240311-popsignuptwoweeks-perspective_alpha_website_medium.jpg);*/
    background-image:url('https://www.lavanguardia.com/andro4all/hero/2023/05/truco-ver-peliculas-series-ocultas-netflix-1200x675-1.webp?width=768&aspect_ratio=16:9&format=nowebp');
    font-family: Arial, Helvetica, sans-serif;
    background-position:fixed; 
    height:100vh;
    
    
    
}


.parent{
    height: 700px;
    width: 1600px;
    display: grid;
    place-items: center;
    
}
.child{
    height: 500px;
    width: 310px;
    border: 2px solid black;
    padding-top: 28px;
    padding-bottom: 48px;
    padding-left: 68px;
    padding-right: 68px;
    justify-content: center;
    border-radius: 5px;
    background-color: black;
    color: white;
    opacity: 0.8;
    
    
}
/*{
    display:block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
div{
 display:block;
 unicode-bidi: isolate;
}*/


#inputemial{
    height: 45px;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 17px;
    background-color: black;
    color: white;
}
#inputpass{
    height: 45px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 17px;
    background-color: black;
    color: white;
}
#btn{
    height: 39px;
    width: 325px;
    border-radius:5px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 17px;
    background-color: #E50914;
    color: white;
}
.child>#forgetpass{

    text-align: center;
    
}
.child>#forgetpass>a{
    text-decoration: none;
    color: white;
}
.child>#forgetpass>a:hover{
    text-decoration: underline;
}

.child>#desc{
    font-size: 13px;
    font-weight: 500;
}
body>img{
    height: 40px;
    margin-top: 17px;
    margin-left: 180px;
}