body{
    background-color:aqua;
    margin: 25px 35px 50px;
    width: 50vw;
    height: 10vh;
    color: white;
    background-image: url('/stars.jpg');
}
#para::first-letter
{
   font-size: 50px; 
   color:white;

}
img{
    float: right;
    width: 250px;
    height: 250px;
}
.box{
    margin: 25px ;
    box-shadow: 5px 5px 5px black;
}
p{
    text-decoration-color: white;
}
a{
    color: red;
}



