body{
    background-color: rgb(246, 226, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#counter{
    background-color: rgb(209, 13, 120);
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 30px;
}

button{
    padding:10px 20px;
    border-radius: 30px;
    background-color:rgb(43, 192, 226);
    color:white;
}